<div class="_verticalStretch">
  <header class="header">
    <div class="_bold">header block</div>
  </header>

  <main class="main">
    <div class="nn-container">
      <div class="_bold main__title">main block</div>
      <div class="drawArea">
        <div class="drawMap">
          <canvas id='map' class="drawMap__item">Обновите браузер</canvas>
          <canvas id='tank' class="drawMap__item drawMap__thank">Обновите браузер</canvas>
        </div>
        <div class="drawTank">
          <canvas id='tankBig' class="drawTank">Обновите браузер</canvas>
        </div>
      </div>
    </div>

  </main>

  <footer class="footer">
    <div class="_bold">footer block</div>
  </footer>

</div>