@font-face{
  font-family:'Halvorsen';
  src:url('../fonts/HalvorsenProBold.eot');
  src:local('☺'), url('../fonts/HalvorsenProBold.woff') format('woff'), url('../fonts/HalvorsenProBold.ttf') format('truetype'), url('../fonts/HalvorsenProBold.svg') format('svg');
  font-weight:400;
  font-style:normal;
}
@font-face{
  font-family:'Halvorsen';
  src:url('../fonts/HalvorsenProExtrabold.eot');
  src:local('☺'), url('../fonts/HalvorsenProExtrabold.woff') format('woff'), url('../fonts/HalvorsenProExtrabold.ttf') format('truetype'), url('../fonts/HalvorsenProExtrabold.svg') format('svg');
  font-weight:700;
  font-style:normal;
}
@font-face{
  font-family:'Montserrat';
  src:url('../fonts/Montserrat-Regular.eot');
  src:local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
  font-weight:400;
  font-style:normal;
}
@font-face{
  font-family:'Montserrat';
  src:url('../fonts/Montserrat-Bold.eot');
  src:local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
  font-weight:700;
  font-style:normal;
}